* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  height: 2rem;
  width: 5rem;
}
.textfield {
  height: 2rem;
  padding-left: 0.4rem;
  width: 60%;
  font-size: 1rem;
  border-radius: 3px;
  border-style: none;
  background-color: rgb(230, 230, 230);
}

.textfield:nth-child(2n) {
  background-color: rgb(211, 208, 208);
}

.listItem {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border: solid 1px black;
}
.listItem:nth-child(2n) {
  background-color: rgb(211, 208, 208);
}
