* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputButton {
  height: 2rem;
  width: 5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100vw;
}

.tasks {
  width: 80%;
}
.delete {
  align-self: flex-end;
  background-color: darkslategray;
}
.update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategray;
  height: 5rem;
  padding: 1rem;
  color: white;
}

.textfield {
  height: 2rem;
  padding-left: 0.4rem;
  width: 60%;
  font-size: 1rem;
  border-radius: 3px;
  border-style: none;
  background-color: darkslategray;
  color: white;
}

/*
.listItem {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border: solid 1px black;
}
.listItem:nth-child(2n) {
  background-color: rgb(211, 208, 208);
} */
